header,nav,main,aside,footer{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}
header{
    height: 100px;
}
main{
    width: 70%;
    display: inline-block;
    height: 300px;
}
aside{
    width: 23%;
    display: inline-block;
    height: 300px;
}